<config>
    <modules>
        <Kwetal_Cacheclean>
            <version>0.1.0</version>
            <depends>
            </depends>
        </Kwetal_Cacheclean>
    </modules>
    <global>
        <models>
        	<cacheclean>
        		<class>Kwetal_Cacheclean_Model</class>
        	</cacheclean>
        </models>
        <helpers>
            <cacheclean>
                <class>Kwetal_Cacheclean_Helper</class>
            </cacheclean>
        </helpers>
    </global>
    <crontab>
		<jobs>
			<cache_clean_tags>
				<schedule>
					<config_path>kwetal_cache/cache_clean/cron_clean_tags</config_path>
				</schedule>
				<run>
					<model>cacheclean/observer_cron::cleanCache</model>
				</run>
			</cache_clean_tags>
			<cache_clean_old>
				<run>
					<model>cacheclean/observer_cron::clearOldTags</model>
				</run>
				<schedule>
					<config_path>kwetal_cache/cache_clean/cron_clean_old</config_path>
				</schedule>
			</cache_clean_old>
		</jobs>
	</crontab>  
</config>